*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #d6efff;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80rem;
  height: 100svh;
  display: grid;
  grid-template-rows: max-content 1fr;
  box-shadow: 0 2rem 4rem rgba(#000, 0.2);
}

/* Loader Styling */
.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
}

.loader {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid #ccc;
  border-top-color: #338f4d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
