*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #d6efff;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80rem;
  height: 100svh;
  display: grid;
  grid-template-rows: max-content 1fr;
  box-shadow: 0 2rem 4rem rgba(#000, 0.2);
}

/* Loader container styling */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

/* Loader styling */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #338f4d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

/* Keyframes for spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
