/* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  @media (max-width: 768px) {
    font-size: 55%;
  }
}

.pagination button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #338f4d;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #28703c;
}

.page_count {
  font-weight: bold;
  color: #333;
}
